.danhsachsp{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.sp {
    border: 1px solid #ddd;
    width: 250px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
}

.sp:hover{
    background-color: red;
    /* cursor: pointer; */
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.sp img{
    transition: transform 0.5s;
}

.sp:hover img{
    transform: scale(1.1);
    /* transform: rotate(10deg); */
}

button{
    background-color: orangered;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px auto;
    transition: all 0.3s ease;
}

button:hover{
    cursor: pointer;
    transform: scale(1.1);
    
}
