body {
    background-color: #1abc9c;
}

h1 {
    color: red;
    background-color: yellow;
}

p {
    color: blue
}

a {
    color: green;
}

li {
    color: brown;
}

.highlight{
    color: gray;
    font-weight: bold;
    font-style: italic;
}

#avt{
    border-radius: 50% ;
    border: 5px solid red;
    
}

#ngon{
    text-decoration: underline;
}

#tieude{
    color: purple;
    background-color: wheat;
}

.tieu-de-chinh{
    background-color: pink;
    width: 260px;
    padding: 20px 30px 20px;
    border: 5px solid red;
    margin: 50px auto;
    width: 90%;
    text-align: center;

}

#ngon li {
    border-bottom: 1px solid gray;
    padding: 5px;
    margin: 5px auto;
}

.mon-ngon{
    color: red;
    font-weight: bold;
    width: 200px;
}

.navbar li {
    display: inline-block;
    background-color: navy;
}

ul li a {
    color: white;
    text-decoration: none;
}

.nut-mua{
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 10px 20px;
    margin-right: 5px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

