body {
    background-color: #1abc9c;
}

h1 {
    color: red;
    background-color: yellow;
}

p {
    color: blue
}

a {
    color: green;
}

li {
    color: brown;
}

.highlight{
    color: gray;
    font-weight: bold;
    font-style: italic;
}

#avt{
    border-radius: 50% ;
    border: 5px solid red;
}

#ngon{
    text-decoration: underline;
}

#tieude{
    color: purple;
    background-color: wheat;
}

.tieu-de-chinh{
    background-color: pink;
    width: 260px;
    padding: 20px 30px 20px;
    border: 5px solid red;
    margin: 50px auto;
    width: 90%;
    text-align: center;

}